@import url('https://fonts.googleapis.com/css?family=Titillium+Web:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla:700&display=swap');
@import url("https://tropix126.github.io/BetterDiscordStuff/blockBetterDocs.css");
@import url('https://codedotspectra.github.io/themes/mini-themes/settingsIcons.css');
@import url('https://fonts.googleapis.com/css?family=Jua&amp;display=swap');
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);
@font-face { font-family: chihaya; src: url(https://zoghon.github.io/fonts/mini-wakuwaku-maru.otf); }
@font-face { font-family: whitneybold; src: url("https://zoghon.github.io/fonts/whitneybold.woff");}


:root, ::placeholder, body, button, html, button, textarea{
    font-family:whitneybold;
    font-weight: 500;
    font-style:bold;
    letter-spacing:0px;
    --accentcolor: 85, 16, 17;		/* blurple - default: 114,137,218 */
	--linkcolor: 0,200,255;		/* link - default: 0,176,244 */
}

.typeWindows-1za-n7{
    background-color:black;
    padding:5px;
}

.withFrame-haYltI{
    margin-top:0px;
}

.wordmarkWindows-1v0lYD{
    filter: opacity(0%);
}

.winButton-iRh8-Z{
    width:45px;
    height:25px;
    color:white;
}


#bd-customcss-attach-controls .checkboxInner-3yjcPe {
    pointer-events:all;
}

