html, body, a {
 cursor: url('images/Wii Cursor.png'), auto !important;
}

body {
  background: #000;
  background-image: url("images/beach8.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 14%;
  
}

h1 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  font-size: 40px;
}

a:link, a:visited{
  text-decoration: none;
  background-color: transparent;
  padding: 20px;
  display: inline-flex;
}

div.column2 { 
  position: fixed;
  left: 10%;
  top: 30%;
}

div.column1 {
  position: fixed;
  left: 13%;
  top: 10%;
}

div.person {
  position: fixed;
  left: 65%;
  top: 20%;
  filter: drop-shadow(15px 15px 0px rgb(22, 22, 22));
}