body {
  background: #000;
  background-image: url(images/bed.gif);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  background-size: 45%;
  background-attachment: fixed;
  
}

h1 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  font-size: 40px;
}

a:link, a:visited{
  text-decoration: none;
  background-color: transparent;
  padding: 20px 20px;
  display: inline-flex;
  border-radius: 12px;
}

div { 
  position: relative;
  bottom: 5%;
  left: 5%;
  right: 50%;
  transform: translate(0%, 10%)
}

.button {
  float: left;
  padding: 10px;
}

html, body, a { cursor:url("http://i.imgur.com/2qleX.jpg"), auto !important; }
a:hover{cursor:url("http://i.imgur.com/IepP2.jpg"), auto !important;