@keyframes scroll {
	100% {
		background-position: 0px -3000px;
	}
}
@-webkit-keyframes scroll {
	100% {
		background-position: 0px -3000px;
	}
}
@-moz-keyframes scroll {
	100% {
		background-position: 0px -3000px;
	}
}
html {
	background: url('images/rain.gif');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	}
body {
	color: white;
	font-family: "Timmana", sans-serif;
	font-size: 20px;
}
a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}
img {
	margin: 0px 20px;
}
#veil {
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	position: absolute;
}
#center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
